<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">



  <title>TJHSST Quizbowl</title>

  <!-- Font Awesome Icons -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Theme CSS - Includes Bootstrap -->
  <link href="css/creative.min.css" rel="stylesheet">

</head>

<body id="page-top">



  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
	  <img class="navbar-brand js-scroll-trigger" src="img/logo.png" alt="">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">TJHSST Quizbowl</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#tournamentsignup">Signups</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#officers">Officers</a>
	    </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Images</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#facebook">Facebook/Practice</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#alumni">Alumni/Awards</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#constitution">Constitution</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
              <a class='nav-link js-scroll-trigger' href={{uri}}>Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">TJHSST Quizbowl</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">Fostering the young minds of the next generation</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">About Us</a>
        </div>
      </div>
    </div>
  </header>

   
  
  <!-- About Section -->
  <section class="page-section" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-black mt-0">About TJ Quizbowl</h2>
          <hr class="divider my-4">
          <p class="text-black-75 mb-4">The purpose of TJ Quizbowl is to foster learning of all academic subjects through competition. We hold practices on Wednesdays 8B and Fridays 8B. Players of all skill levels are welcome.</p>
		  <p class="text-black-75 mb-4">Practices are Wednesday and Friday B block, and Monday and Friday during lunch. There may be supplemental practices prior to important tournaments. Practices typically consist of reading past tournament questions. We have two rooms for eighth periods - a novice room, which reads easier questions, and a more experienced room. We usually read college level questions at lunch practice.</p>
          <p class="text-black-75 mb-4">Tournaments are of varying difficulty: novice, regular, and national. TJ often sends multiple teams to a tournament, designated A, B, C, etc. They’ll almost always be within driving distance of TJ - campuses in Maryland or Virginia - although we do sometimes venture farther.</p>
          <p class="text-black-75 mb-4">Novice tournaments are designed for new high school players, and are restricted to those who have not attended a national tournament. They typically have easier questions and opponents.</p>
          <p class="text-black-75 mb-4">Regular-season tournaments are open to everyone, from novices to the most experienced. We don’t make cuts for these tournaments - register in time and you will play.</p>
          <p class="text-black-75 mb-4">National tournaments… the most prestigious tournaments in high school Quizbowl. They last an entire weekend and often require long-distance travel. Our team attends two national tournaments: NAQT’s High School National Championship Tournament and PACE’s National Scholastic Championship. The fee for national tournaments will be calculated by officers, and depend on club finances, travel fees, and registration fees.</p>
          <p class="text-black-75 mb-4">To select teams as fairly as possible, officers consider the following: past performance at tournaments (with harder tournaments carrying more weight), past nationals experience, staffing at our two tournaments (expounded below), and practice attendance. Tryouts may take place for national tournaments.
          Every year, we host three tournaments of our own: the Thomas Jefferson Novice Academic Tournament (TJNAT), the Thomas Jefferson Middle School Tournament (TJMST) and the Thomas Jefferson Invitational Academic Tournament (TJIAT) . Members can staff these tournaments for community service hours. The tournaments serve as fundraising events and valuable outreach opportunities. Staffers may choose to read questions, scorekeep, or sell concessions.</p>
                    <p class="text-black-75 mb-4"> </p>
                    <p class="text-black-75 mb-4"> </p>
                    <p class="text-black-75 mb-4"> </p>
                    
		  <h2 class="text-black mt-0">Useful Resources</h2>
		  <hr class="divider my-4">
          <p class="text-black-75 mb-4">Click <a href="https://hsquizbowl.org/db/">here</a> to go to the Quizbowl Resource Center.</p>
		  <p class="text-black-75 mb-4">Click <a href="http://www.quizbowlpackets.com/">here</a> to go to the Quizbowl Packet Archive.</p>
		  <p class="text-black-75 mb-4">Click <a href="https://www.quizdb.org/">here</a> to find a searchable question archive.</p>
        </div>
      </div>
    </div>
  </section>
  

  <!-- Tournament Signup Section -->
  <section class="page-section" id="tournamentsignup">
    <div class="container">
      <h2 class="text-center mt-0">Tournament Signups</h2>
      
      
      
      
      
	  
	      <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="../dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
<hr class="divider my-4">
      <div class="row">
      </div>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <iframe width=100% height=720 src="https://docs.google.com/spreadsheets/d/12h7VRp-8Mq5CbOGnZiV1JKQFgpLO8eMSaPQQJr3l5Sg/edit?usp=sharing/pubhtml?widget=false&amp;headers=false"></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                                  <p class="text-white-75 mb-4"></p>
                       <h2 class="text-center mt-0">Summer Practice Signups</h2>
                       <hr class="divider my-4">
                         <p class="text-black-75 mb-4">In person practices are Saturday 1PM-3PM in McLean. </p>
                         <!-- <div class="col-lg-12 col-md-12">
                        <iframe width=100% height=720 src="https://docs.google.com/spreadsheets/d/1qcJznC_L1fA6id5k3rl-BDr9c75IeeaTHXch9aGfjaY/edit?usp=sharing/pubhtml?widget=false&amp;headers=false"></iframe>
                    </div> -->
          <p class="text-black-75 mb-4">If you're interested, information for in person summer practices can be found in the discord.</p>
          <p class="text-black-75 mb-4">There's also virtual practices for anyone who may not be able to make it:</p>
          <p class="text-black-75 mb-4">Sundays @8pm: Novice-oriented QB practice</p>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
</body>
</html>
    </div>
  </section>

  <!-- Officers Section -->
  <section class="page-section bg-primary" id="officers">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0">Officers of the 2021 - 2022 season</h2>
          <hr class="divider light my-4">
          <p class="text-white-75 mb-4">Co-Captain: Elliot Lee (2022)</p>
		  <p class="text-white-75 mb-4">Co-Captain: Justin Chen (2022)</p>
		  <p class="text-white-75 mb-4">Treasurer: Grace Liu (2024)</p>
		  <p class="text-white-75 mb-4">Secretary: Anisha Talreja (2023)</p>
		  <p class="text-white-75 mb-4">JV Liaison: Brian Zhou (2024)</p>
		  <p class="text-white-75 mb-4">Public Relations Officer: Elliott Lee (2023)</p>
		  <p class="text-white-75 mb-4">Tournament Director: Pratyush Jaishanker (2022)</p>
		  <p class="text-white-75 mb-4">Tournament Director: Tim Johanson (2023)</p>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Portfolio Section -->
  <section id="portfolio">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
            <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                PACE 2021
              </div>
              <div class="project-name">
                TJ A Team wins the national title at PACE!
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
            <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                HSNCT 2021
              </div>
              <div class="project-name">
                TJ Quizbowl sends seven teams to HSNCT, and A Team wins fourth place!
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
            <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                VHSL States 2021
              </div>
              <div class="project-name">
                TJ Quizbowl brings home the 2021 Class 5A State Championships from VHSL States!
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
            <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                VHSL States 2020
              </div>
              <div class="project-name">
                TJ Quizbowl 2020 and 2021 bring the championship home!
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
            <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Summer 2021
              </div>
              <div class="project-name">
                TJ Quizbowl hosts first summer practice since COVID!
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
            <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
            <div class="portfolio-box-caption p-3">
              <div class="project-category text-white-50">
                Spring 2021
              </div>
              <div class="project-name">
                TJ Quizbowl hosts team meet and greet!
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Facebook Section -->
  <section class="page-section bg-primary" id="facebook">
  <div class="container">
  <section class="page-section bg-dark text-white">
    <div class="container text-center">
      <h2 class="mb-4">Facebook</h2>
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTJQuizBowl%2F&tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
          <p class="text-white-75 mb-4"><a href="https://www.facebook.com/TJQuizBowl">Facebook</a></p>
    </div>
	</div>
  </section>
  </section>
  <section class="page-section bg-primary" id="facebook">
  <div class="container">
  </section>
  
  <!-- Alumni Section -->
  <section class="page-section bg-primary" id="alumni">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0">Alumni</h2>
		            <hr class="divider light my-4">
		            <p class="text-white font-weight-light mb-5">What our alumni have to say about TJ Quizbowl</p>
					<p class="text-white-75 mb-4">"Quizbowl was a very enjoyable activity because it allowed me to meet tons of interesting people with diverse interests who shared my passion for learning. It taught me how to work in a team setting and how to overcome obstacles." - Fred Zhang, Class of '19</p>
					<p class="text-white-75 mb-4">"Read more books and be curious about the world around you, because Quizbowl is merely a means to an end. And try to get involved as a club officer, because that’s a learning experience that probably exceeds the game itself." - Benjamin Xu, Class of '19</p>
		 <p class="text-white-75 font-weight-light mb-5"></p>
		 <h2 class="text-white mt-0">Awards</h2>
		            <hr class="divider light my-4">
		  <p class="text-white-75 mb-4">HSNCT National Champions: '03, '04, '05, '08</p>
		  <p class="text-white-75 mb-4">PACE National Champions: '05, '18, '19, '21</p>
		  <p class="text-white-75 mb-4">VHSL Scholastic Bowl AAA State Championship: '98, '99, '01, '02, '04, '05, '06, '08, '12, '13</p>
		   <p class="text-white-75 mb-4">VHSL Scholastic Bowl 5A State Championship	: '16, '17, '21</p>
		   <p class="text-white-75 mb-4">VHSL Scholastic Bowl Class 5 State Championship: '18</p>
        <p class="text-white-75 mb-4">NAQT Virginia State Championship: '02, '05, '16, '17, '18</p>		   
        </div>
      </div>
    </div>
  </section>
  
    <!-- Constitution Section -->
  <section class="page-section" id="constitution">
    <div class="container">
      <h2 class="text-center mt-0">Club Constitution</h2>
	  
	      <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="../dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
<hr class="divider my-4">
      <div class="row">
      </div>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <iframe width=100% height=720 src="https://docs.google.com/document/d/1rx9eR-xTTNIQTPOj7BGwfB--i3ESUSoZE5kTpo3OmqQ/edit?usp=sharing/pubhtml?widget=true&amp;headers=false"></iframe>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
</body>
</html>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Contact Us</h2>
          <hr class="divider my-4">
          <p class="text-muted mb-5">Any questions? Feel free to contact us by using our email or filling in the form below!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="d-block" href="mailto:contact@yourwebsite.com">tjhsstquizbowl@gmail.com</a>
        </div>
      </div>
	  <p class="text-muted mb-5"></p>
	  <div class="col-lg-12 col-md-12">
                <!-- Change the width and height values to suit you best -->
<div class="typeform-widget" data-url="https://tjhsstquizbowl.typeform.com/to/S7Er6o" data-text="Contact Form" style="width:100%;height:500px;"></div>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
<div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"><a href="https://www.typeform.com/examples/forms/?utm_campaign=S7Er6o&amp;utm_source=typeform.com-2937842-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-onlineform&amp;utm_term=EN" style="color: #999" target="_blank">Online form</a> powered by Typeform</div>
                    </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted">Maintained by Anisha Talreja (2023) and Brian Zhou (2024)</div>
      <div class="small text-center text-muted">Made by Elliot Lee (2022), Prithvi Nathan (2020), and William Wang (2020)</div>
      <div class="small text-center text-muted">Copyright &copy; 2019 - Start Bootstrap</div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/creative.min.js"></script>
<script src="snowstorm.js"></script>
</body>
<p>
</html>