<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/nav_bar.css">
</head>

<body>
<!--MAIN CONTENT PAGE-->
<div class="content">
    <button type="button" onclick = "window.location.href = '{{uri}}'">Login</button>
</div>
<script text="text/javascript">
    function login(){
        console.log("{{uri}}")
    }
</script>
</body>
</html>